
<ion-view ng-controller="summaryDetailsCtrl" title="On Wings Summary"  id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <h3>{{summary.title}}:</h3>
        <h4 style="
            color: #387ef5;
            background: #faf7d7;
            border-radius: 15px;
            padding: 10px;
            ">{{summary.summary}}</h4>
        <div style="float:right">
            <h4 style="color:grey">- {{summary.speaker}} -</h4>
            <h5 style="color:grey">{{summary.date}}</h5>
        </div>
    </ion-content>
</ion-view>