<ion-view title="Upcoming Events" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="upcomingEvents-list1" class=" ">
            <ion-item id="upcomingEvents-list-item7" ui-sref="menu.onWingsMeeting" class="  ">on wings meeting
                <span class="item-note">7/6</span>
            </ion-item>
            <ion-item id="upcomingEvents-list-item4" href="#" onclick="window.open('https://www.facebook.com/events/238199496557035/?ref=br_rs&amp;action_history=null', '_system', 'location=yes'); return false;" class="  ">c'est la vie camp
                <span class="item-note">17/6</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>